// Facebook
div.fb-like(data-send='false', data-layout='button_count', data-width='280')

// Twitter
a.twitter-share-button(href='https://twitter.com/share', data-lang='en') Tweet

// Google +1
div.g-plusone(data-size='medium')
