extends _layout

block title
  title= title

block append meta
  include _inc_sns_meta

block append style

block append script

block body
  section#main(role='main')

  footer
    include _inc_sns_button

  div.loader__mask
    img.loader__icon(src='./img/ajax-loader.gif', alt='', width='16', height='16')
